NEXT_PUBLIC_CHAIN_ENDPOINTS = 'https://proton.eoscafeblock.com, https://proton.greymass.com'
NEXT_PUBLIC_BLOCK_EXPLORER  = 'https://proton.bloks.io/block/'
NEXT_PUBLIC_NFT_ENDPOINT    = 'https://proton.api.atomicassets.io'
BACKEND_ENDPOINT            = 'https://api.protonchain.com/v1'
ALCHEMY_URL                 = 'https://polygon-mainnet.g.alchemy.com/v2/cZYm3F6HFecKtBJDWBLiYR2Bweqmwlnc'
